page-profile {

}
.cntimg{
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #1abc9c;
    padding-left: 40%;
    padding-right: 40%;
}
.credentials{
	color: grey;
}
